<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand nav-title" href="/"><img
        width="64"
        height="64"
        src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-working-agile-flaticons-lineal-color-flat-icons-2.png"
        alt="external-working-agile-flaticons-lineal-color-flat-icons-2"
      />Handled</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{! <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> }}
        {{#if req.session.logged_in}}
          <ul class="nav-item">
            <li class="nav-link logout-link">
              <a class="logout">Logout</a>
            </li>
          </ul>
        {{/if}}

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link login-btn" href="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link signup-btn" href="/signup">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>