<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand nav-title" href="/"><img
        width="64"
        height="64"
        src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-working-agile-flaticons-lineal-color-flat-icons-2.png"
        alt="external-working-agile-flaticons-lineal-color-flat-icons-2"
      />Handled</a>
    <ul class="nav-item nav-icon-img">
      <li class="nav-link">
        <img class="nav-profile-pic" src="/images/profile.png" alt="" />
      </li>
      <li class="nav-link logout-link">
        <a class="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/js/logout.js"></script>