<div class="tab-list">
  <ul>
    <li><a href="/profile"><img
          width="48"
          height="48"
          src="https://img.icons8.com/fluency/48/user-male-circle--v1.png"
          alt="user-male-circle--v1"
        />Profile</a></li>
    <li><a href="/create"><img
          width="48"
          height="48"
          src="https://img.icons8.com/fluency/48/tasklist--v1.png"
          alt="tasklist--v1"
        />Create</a></li>
    <li><a href="/notes"><img
          width="48"
          height="48"
          src="https://img.icons8.com/fluency/48/create-new.png"
          alt="create-new"
        />Notes</a></li>
    <li><a href="/quotes"><img
          width="48"
          height="48"
          src="https://img.icons8.com/fluency/48/quote.png"
          alt="quote"
        />Quotes</a></li>
    <li><a href="/settings"><img
          width="48"
          height="48"
          src="https://img.icons8.com/fluency/48/automatic--v1.png"
          alt="automatic--v1"
        />Settings</a></li>
  </ul>
</div>