    {{> nav}}

<div>
  <h1 class="text-center">Welcome to Handled</h1>
  <p class="text-center">A simple todo app built with Node.js, Express, and
    Handlebars</p>
</div>

<div class="banner-container">
  <img class="banner" src="/images/banner.jpg" />
</div>