<link rel="stylesheet" href="/css/profile.css" />
{{> profile-nav}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3" id="sidebar" >
       
         {{> side-nav}}
        </div>
        <div class="col-lg-9" id="content">
            <div>
                <button id="daily-quote">Quote of the day</button>
                <div id="quote"></div>
                <div id="author"></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/profile.js"></script>