<div class="form-container">
  <div class="form-group login-form">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      aria-describedby="usernameHelp"
      placeholder="Enter username"
      name="username"
    />
    <label for="email">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      name="email"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      name="password"
    />
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      placeholder="Confirm Password"
      name="password2"
    />
    <button
      id="form-submit"
      type="submit"
      class="btn btn-primary"
    >Submit</button>

  </div>
</div>
<div id="error-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning!!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Passwords do not match</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/js/signup.js"></script>