.datepicker {
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: inset 0 0 10px 5px #e7e3e3;
}

.ui-datepicker {
  width: 17em;
  font-size: 1.2em;
  text-align: center;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
}

.ui-datepicker-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  padding: 0.5em;
}

.ui-datepicker-title {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  text-align: center;
  line-height: 1.8em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.ui-datepicker-prev {
  margin-right: 2rem;
  text-decoration: none;
}

.ui-datepicker-next {
  margin-left: 1rem;
  text-decoration: none;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
  font-size: 1.5em;
  font-weight: bold;
  color: #666;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
  background-color: #eee;
}

.ui-datepicker-calendar {
  border-collapse: collapse;
  width: 100%;
}

.ui-datepicker-calendar th {
  padding: 0.5em 0;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #666;
}

.ui-datepicker-calendar td {
  padding: 0.5em 0;
  text-align: center;
}

.ui-datepicker-calendar td a {
  display: block;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  text-decoration: none;
  border-radius: 50%;
}

.ui-datepicker-calendar td a:hover {
  background-color: #eee;
}

.ui-datepicker-calendar .ui-state-active {
  background-color: #f5f5f5;
  border-radius: 50%;
}

.ui-datepicker-calendar .ui-state-highlight {
  background-color: #a2a2a2bb;
  border-radius: 50%;
}

.ui-datepicker-calendar .ui-state-active:hover,
.ui-datepicker-calendar .ui-state-highlight:hover {
  background-color: #eee;
}

.ui-datepicker-calendar .ui-state-disabled {
  color: #ddd;
}

.ui-datepicker-calendar .ui-state-disabled:hover {
  background-color: transparent;
}

.ui-datepicker-calendar .ui-state-default {
  color: #262525;
}

.ui-datepicker-calendar .ui-state-default:hover {
  background-color: #eee;
}

.ui-datepicker-calendar .ui-state-default.ui-state-active {
  background-color: #f5f5f5;
  border-radius: 50%;
}

.search-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.search-btn {
  background-color: rgb(25, 87, 167);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 10px #ddd;
}

.search-btn:hover {
  background-color: rgba(25, 87, 167, 0.784);
  color: #fff;
  scale: 1.1;
}

#sidebar {
  border-right: solid 1px #ddd;
  background-color: #343a40;
  box-shadow: inset 0 0 3px 3px #b9b9b9;
  height: 100vh;
}

#content {
  background-color: #343a40;
  color: white;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  box-shadow: inset 0 0 5px 5px #e5e5e5;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
}

#todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: #dee2e6;
  box-shadow: inset 0 0 10px 5px #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
}

.todo-item {
  align-items: center;
  margin-top: 3rem;
  background-color: #dee2e6;
  box-shadow: inset 0 0 10px 5px #9f9f9f;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  list-style-type: none;
  color: black;
}

.datetime {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.content-note {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.note-input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: inset 0 0 10px 5px #e7e3e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.tab-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tab-list ul li {
  margin-bottom: 1rem;
}

.tab-list ul li a {
  width: 100%;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #212121;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background: #ced4da;
  box-shadow: 5px 5px 5px #d9d9d9;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: 4px solid rgba(59, 59, 59, 0.707);
}

.tab-list ul li a:hover {
  color: black;
  background-color: #adb5bd;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #d9d9d9, -3px -3px 5px #adb5bd; /* Adjust shadows on hover for interactive effect */
}

.logout {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #262525;
  text-decoration: none;
}

.logout-link:hover {
  scale: 1.1;
  cursor: pointer;
}

.create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: #dee2e6;
  box-shadow: inset 0 0 10px 5px #9f9f9f;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
}

.create-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.create-container form label {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.create-container form input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: inset 0 0 10px 5px #e7e3e3;
}

.create-container form input:focus {
  outline: none;
}

.create-container select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: inset 0 0 10px 5px #e7e3e3;
}

.create-container select:focus {
  outline: none;
}

#create-submit {
  background-color: rgb(25, 87, 167);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 10px #ddd;
}

#note {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #262525;
  text-decoration: none;
  width: 400px;
  height: 300px;
}

.note-area {
  display: flex;
}

#add-note {
  background-color: rgb(25, 87, 167);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 10px #ddd;
  width: 100%;
}

.nav-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  box-shadow: 0 0 10px #ddd;
  list-style-type: none;
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  box-shadow: 0 0 10px #ddd;
}

.nav-icon-img {
  display: flex;
  align-items: center;
}
